@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }
}

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(
      105deg,
      transparent 40%,
      rgba(255, 255, 255, 0.7) 50%,
      transparent 60%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}